.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

body{
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    background-color: rgb(6, 6, 9);
    color: white;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 4rem;
    position: relative;
}

.fields {
    padding: 0.5rem;
    width: 100%;
    border-radius: 7px;
    border-color: transparent;
    text-align: center;
}

.heading {
    color: white;
    /* color: black; */
    font-size: 3rem;
    position: relative;
}

.sub_heading {
    color: rgb(146, 146, 146);
    padding: 1rem;
    position: relative;
}

.in {
    background-color: rgb(48, 48, 245);
    font-size: 1.2rem;
    border-radius: 10px;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    color: white;
    border: none;
}

.spacing{
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}